<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.xiaonuo.biz.modular.New.template.mapper.TemplateMapper">

    <resultMap id="BaseResultMap" type="vip.xiaonuo.biz.modular.New.template.entity.Template">
            <id property="templateId" column="Template_id" jdbcType="INTEGER"/>
            <result property="templateName" column="Template_name" jdbcType="VARCHAR"/>
            <result property="templateSerial" column="Template_Serial" jdbcType="INTEGER"/>
            <result property="subtemplateNum" column="Subtemplate_num" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        Template_id,Template_name,Template_Serial,
        Subtemplate_num
    </sql>
</mapper>
